body{
  font-family: monospace;
  font-weight: 500;
  color: gray;
  background-color: black;
    font-size: 1.5rem;
  line-height: 2.5rem;

border: 4mm ridge rgba(223, 223, 223, 0.8);
  margin: 5mm;
  padding: 10mm;
}

  h1{
    font-size: 5rem;
    line-height: 6rem;
    color: white;
  }
.important{
  font-size: 3rem;
  line-height: 4rem;
  color:#d2d1d0
}
